:host {

  margin: auto;

  .horizontal{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    i{
      cursor: pointer;
      outline: none;
      user-select: none;
    }

  }

  .hidden{
    color: transparent;
    cursor: default !important;
  }

  .tool {
    background-color: black;
    border: 3px cadetblue solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 620px;

    .card {
      border: 1px black solid;
      flex-grow: 1;
      height: 60px;
      width: 60px;
    }

    .grid {
      border: 1px white solid !important;

      &:hover {
        border: 1px red groove;
      }
    }
  }
}
