<app-header [map]="map"
            (emitShowGridState)="updateShowGridState($event)"></app-header>

<div class="body">
  <app-map-assets (emitSelectedCard)="updateSelectedCardFromAssets($event)"
                  *ngIf="showGrid">
  </app-map-assets>

  <app-content [map]="map"
               *ngIf="map"
               [mapWidth]="mapWidth"
               (emitUpdateMap)="updateMap($event)"
               (emitSelectedCard)="updateSelectedCardFromContent($event)"
               [cardToAssign]="selectedCardFromAssets"
               [showGrid]="showGrid">
  </app-content>

  <app-tool-panel [selectedCard]="selectedCard">
  </app-tool-panel>
</div>

<div class="footer">
  Developed by Rodolphe Vanderaspoilden. All rights reserved. NewWorld-tool-map
</div>
