<app-header [map]="map"
            (emitShowGridState)="updateShowGridState($event)"></app-header>

<div class="body">
  <app-map-assets (emitSelectedCard)="updateSelectedCardFromAssets($event)"
                  *ngIf="showGrid">
  </app-map-assets>

  <app-content [map]="map"
               (emitUpdateMap)="updateMap($event)"
               (emitSelectedCard)="updateSelectedCardFromContent($event)"
               [cardToAssign]="selectedCardFromAssets"
               [showGrid]="showGrid">
  </app-content>

  <app-tool-panel [selectedCard]="selectedCard"
                  *ngIf="selectedCard">
  </app-tool-panel>
</div>
